
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --cor-principal: rgb(26, 113, 114);
  --cor-secundaria: rgb(26, 113, 114);
  --cor-destaque: rgba(49, 46, 46, 0.486);
}

body {
  font-family: 'Chakra Petch', sans-serif;
}
h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque)
}

body.dark-mode {
    background-color: rgba(18, 18, 18, 0.853);
    color: #ffffff;
}

.dark-mode {
    margin-top: 20px;
}

.dark-mode-btn {
    display: flex;
}

.dark-mode-btn {
    background-color: rgba(44, 62, 80);
    color: white;
    border-radius: 150px;
}

.dark-mode-btn:hover {
    background-color: #ffffff;
    color: rgb(44, 62, 80);
    border-radius: 150px;
}
